
  <div class="container">

    <div class="btn-group">
      <a class="btn btn-default" href="<%=dashboard_restaurants_path%>">Quản lý cửa hàng</a>
      <a class="btn  btn-default" href="<%=dashboard_restaurant_foods_path%>">Quản lý món ăn</a>
      <a href="" class="btn btn-info">Quản lý nhân viên</a>
      <a href="#" class="btn btn-default">Quản lý đặt hàng</a>
    </div>
    <div class="row">
      <div class="col-md-12 row">
        <div class="margin_top_10 form-group col-md-4 row">
          <form class="navbar-form" role="search" action="/dashboard/restaurants/<%=@restaurant.id%>/staffs/find_staff" method="get">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Tên nhân viên..." name="staff_name">
              <div class="input-group-btn">
                <!-- <i class="glyphicon glyphicon-search"></i> -->
                  <button class="btn btn-default" type="submit">Tìm</button>
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    <h1 class="text-center text-danger margin_bottom_50 ">Danh sách nhân viên <%=@restaurant.name %></h1>
    <div class=" margin_bottom_10">  <a href="<%=new_dashboard_restaurant_staff_path%>" class="btn btn-primary">Thêm nhân viên</a></div>




    <table class="table table-hover table-bordered" >
      <tr style="background: pink">
        <th>STT</th>
        <th>Tên nhân viên</th>
        <th>Chức vụ</th>
        <th>Lương</th>
        <th>Số điện thoại</th>
        <th>Ngày sinh</th>
        <th>Giớitính</th>
        <th>Ngày tạo</th>
        <th>Chức năng</th>
      </tr>
      <% @staffs.each_with_index do |staff,index| %>
      <tr class="box-foods">
        <td><%= index + 1 + (@page-1)*3  %></td>
        <td><%= staff.name %></td>
        <td><%= staff.kind %></td>
        <td><%= staff.salary %></td>
        <td><%= staff.phone %></td>
        <td><%= staff.birthday.strftime("%d/%m/%Y") %></td>
        <td>
          <%if staff.gender == true %>
            Nam
          <%else%>
            Nữ
          <%end%>
        </td>
        <td><%= staff.created_at.strftime("%H:%M %d/%m/%Y") %></td>
        <td>
          <a href="<%= edit_dashboard_restaurant_staff_path(staff.restaurant.id, staff.id ) %>" class="btn btn-warning">Sửa</a>
          <a href ="<%= dashboard_restaurant_staff_path(staff.restaurant.id, staff.id) %>" data-method="delete"  class="btn btn-danger delete-food" data-confirm="Bạn chắc chắn muốn xóa?">Xóa</a>
        </td>
      </tr>

      <% end %>
    </table>

    <div class="col-md-12">

      <div class="pagination pull-right">
        <%= will_paginate @staff , renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
