<div class="open-replies">
    <div class="">
      <a class="reply-comment" data-target="<%=@comment.id%>" >Ẩn <%=Comment.where(comment_id: @comment.id).count%> trả lời</a>
    </div>
    <div class="new-reply-comment margin_bottom_50">
      <%if @current_user%> <%= image_tag @current_user.avatar.url(:avatar), class: " avatar_reply" %> <%end%>
      <input type="text" name="reply-content" class="form-control " placeholder="Viết trả lời...">
      <input type="hidden" value="<%= @comment.id %>" class="post-reply-comment">
      <!-- <%if @current_user%>
        <a data-target="<%= @comment.id %>" class="post-reply-comment">bình luận</a>
      <%else%>
        <a  class="return-login" >bình luận</a>
      <%end%> -->
    </div>
    <div class="list-replies margin_left_10">
      <% @replies.each do |reply|%>
      <div class="">
        <div class=" col-md-12 margin_top_10 margin_bottom_10 box-reply " >
          <div class="row">
            <div class="col-md-10">
              <span class="text-primary text-strong"> <%= image_tag reply.user.avatar.url(:avatar), class: " avatar_reply" %> <%= reply.user.name %>:</span> <%= reply.content %>
            </div>
            <div class="col-md-2">
            <% if @current_user%>
              <%if @current_user.id == reply.user.id%>
                <span data-target="<%= reply.id %>" class="text-danger delete-reply"  >x</span>
              <%end%>
            <%end%>
            </div>
          </div>

        </div>
      </div>

      <%end%>
    </div>


</div>
