<%if @restaurant.errors.any? %>
  <div class="alert alert-danger">
    <% @restaurant.errors.full_messages.each do |message|%>
      <li><%=message%></li>
    <%end%>
  </div>
<%end%>

<div class="container">
  <h1 class="text-center text-danger">Chỉnh sữa cửa hàng</h1>
  <div class="col-md-4 col-sm-offset-4">
    <fieldtest>
    <%= form_for @restaurant , url: dashboard_restaurant_path(@restaurant), method: "patch" do |f| %>
      <div class="form-group">
        <label for="exampleInputName2">Tên cửa hàng</label>
        <%= f.text_field :name,class: "form-control", placeholder: "Tên cửa hàng", required: "requied" %>
      </div>
      <div class="form-group">
        <label for="">Số điện thoại</label>
        <%= f.text_field :phone, class: "form-control", placeholder: "Số điện thoại", required: "requied"%>
      </div>
      <div class="form-group">
        <label for="" >Thành phố</label>
        <select class="form-control" name="cities" id="city_select" requied="requied">
          <option class="render_ajax" > </option>

          <% @cities.each do |city|%>
            <%if city.id == @restaurant.district.city.id%>
              <option value="<%= city.id%>"  selected><%=city.name%> </option>
            <%else%>
              <option value="<%= city.id%>" ><%=city.name%> </option>
            <%end%>
          <%end%>
        </select>
      </div>
      <div class="form-group">
        <label for="">Quận( Huyện)</label>
        <select name="restaurant[district_id]" id="district_select" class="form-control"  required ="requied">
          <% @districts.each do |district|%>
            <%if district.id == @restaurant.district.id%>
              <option class="render_ajax" value="<%= district.id %>" selected><%= district.name%></option>
            <%else%>
              <option class="render_ajax" value= "<%= district.id%>" > <%= district.name%> </option>
            <%end%>
          <%end%>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputName">Tên đường</label>
        <%= f.text_field :address, class: "form-control", placeholder: "Tên đường", required: "required"%>
      </div>
      <div class="fotrm-group margin_bottom_10">
        <%= f.label "Ảnh cửa hàng"%>
        <%= f.file_field :image , class: "form-control" %>
      </div>
      <div class="text-center">
        <button type="submit" name="button" class=" text-center btn btn-primary ">Sửa</button>
        <a class=" text-center btn btn-danger margin_left_10" href="<%= dashboard_restaurants_path%>">Hủy</a>
      </div>
    <% end %>
    </fieldtest>

  </div>
</div>
