  <div class="container"><a href="<%=admin_restaurants_path%>" class="btn btn-primary">Quay lại</a></div>
<h1 class="text-center text-danger margin_bottom_20 "><%=@restaurant.name %></h1>
  <div class="container">

    <div class="col-md-6">
      <%= image_tag @restaurant.image.url(:medium), class: "picture_center" %>
      <h3 class="text-center">Số điện thoại: <%=@restaurant.phone%></h3>
      <h3 class="text-center">Địa chỉ: <%=@restaurant.address%>, <%=@restaurant.district.name%>, <%=@restaurant.district.city.name%></h3>

    </div>
    <div class="col-md-6">
      <div id="map"></div>
    </div>

  </div>


     <script type="text/javascript">
       function initMap() {
         var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        // center: {lat: 16.0744633, lng: 108.1518328 }
         });
         var geocoder = new google.maps.Geocoder();
         geocodeAddress(geocoder, map);
       }
         function geocodeAddress(geocoder, resultsMap) {
           var address = "<%= @restaurant.address %>, <%= @restaurant.district.name %>, <%=@restaurant.district.city.name%>";
           geocoder.geocode({'address': address}, function(results, status) {
             if (status === 'OK') {
               resultsMap.setCenter(results[0].geometry.location);
               var marker = new google.maps.Marker({
                 map: resultsMap,
                 position: results[0].geometry.location
               });
             }
            //   else {
            //    alert('Geocode was not successful for the following reason: ' + status);
            //  }
           });
         }
     </script>
     <script async defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALTmC--e7ho0gW9wMgqeK2NaXybqVRch4&callback=initMap">
     </script>
