
  <div class="container">

    <div class="row">
      <div class="col-md-12 row">
        <div class="margin_top_10 form-group col-md-6 row">
          <form class="navbar-form" role="search" action="/dashboard/posts/find_post" method="get">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Tên tiêu đề..." name="title_name">
              <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    <h1 class="text-center text-danger margin_bottom_50 ">Bài đăng tương ứng </h1>
    <div class=" margin_bottom_10">  <a href="<%=new_post_path%>" class="btn btn-primary">Thêm bài đăng</a></div>

    <table class="table table-hover table-bordered" >
      <tr style="background: pink">
        <th>STT</th>
        <th>Tiêu đề</th>
        <th>Nội dung</th>
        <th>Lượt thích</th>
        <th>Lượt bình luận</th>
        <th>Ngày đăng</th>
        <th>Chức năng</th>
      </tr>
      <% @posts.each_with_index do |post,index| %>
      <tr class="box-post">
        <td><%= index + 1 + (@page-1)*3  %></td>
        <td><%= post.title %></td>
        <td class ="post-content"><%= post.content %></td>
        <td><%= post.likes.count %></td>
        <td><%= post.comments.count %></td>
        <td><%= post.created_at.strftime("%H:%M %d/%m/%Y") %></td>
        <td>
          <div class="btn-group">
            <a href="<%= post_path(post)%>" class="btn btn-primary">Xem</a>
            <a href="<%= edit_dashboard_post_path(post)%>" class="btn btn-warning">Sửa</a>
            <a href ="<%= dashboard_post_path(post) %>" data-method="delete" data-target="<%= post.id %>" class="btn btn-danger delete-post" data-confirm="Bạn chắc chắn muốn xóa?">Xóa</a>
          <div>
        </td>
      </tr>

      <% end %>
    </table>

    <div class="col-md-12">

      <div class="pagination pull-right">
        <%= will_paginate @staff , renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
