<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="logo">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="<%= admin_users_path%>">ẨM THỰC 3 MIỀN</a></li>
            </ul>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="<%= posts_path%>">TRANG CHỦ</a></li>
            <li><a href="<%=restaurants_path%>">CỬA HÀNG</a></li>
            <% if @current_user %>
            <li  role="presentation" class="dropdown avatar-li">
              <%if @current_user.is_admin?%>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag @current_user.avatar.url(:avatar), class: " avatar_picture" %>  ADMIN <%= @current_user.name.upcase %> <span class="caret"></a>
              <%else%>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <%= image_tag @current_user.avatar.url(:avatar), class: " avatar_picture" %> <%= @current_user.name.upcase %> <span class="caret"></a>
              <%end%>


              <ul class="dropdown-menu nav navbar-nav navbar-right">
                <li> <a href="<%= edit_user_path(@current_user.id) %>">QUẢN LÝ THÔNG TIN CÁ NHÂN</a> </li>
                <%if @current_user.is_admin?%>
                  <li><a href="<%= admin_users_path %>">QUẢN LÝ CÁC TÀI KHOẢN</a></li>
                  <li> <a href="<%= admin_restaurants_path%>">QUẢN LÝ CÁC CỬA HÀNG</a> </li>
                  <li> <a href="<%= admin_posts_path%>">QUẢN LÝ CÁC BÀI ĐĂNG </a> </li>
                <%else%>
                  <li> <a href="<%= dashboard_restaurants_path%>">QUẢN LÝ CỬA HÀNG</a> </li>
                  <li> <a href="<%= dashboard_posts_path%>">QUẢN LÝ BÀI ĐĂNG</a> </li>
                  <li> <a href="<%= orders_pending_user_dashboard_orders_path%>">QUẢN LÝ ĐẶT HÀNG</a> </li>
                <%end%>
              </ul>
            </li>

            <li class="active"><a href="<%= logout_path %>">ĐĂNG XUẤT <span class="sr-only">(current)</span></a></li>
            <% else %>
            <li class="active"><a href="<%= login_path %>">ĐĂNG NHẬP<span class="sr-only">(current)</span></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</nav> -->

<div id="navbar_primary">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header ">
      <a class="logo"  href="<%= posts_path%>"><img src="/assets/logo.png" alt=""></a>
      <a class="navbar-brand " href="<%= posts_path%>">ẨM THỰC 3 MIỀN</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= posts_path%>">TRANG CHỦ</a></li>
        <li><a href="<%=restaurants_path%>">CỬA HÀNG</a></li>
        <li><a href="<%=contact_posts_path%>">LIÊN HỆ</a></li>
        <% if @current_user %>
        <li role="presentation" class="dropdown avatar-li">
          <%if @current_user.is_admin?%>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag @current_user.avatar.url(:big), class: " avatar_picture" %>  ADMIN <%= @current_user.name.upcase %> <span class="caret"></a>
          <%else%>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <%= image_tag @current_user.avatar.url(:big), class: " avatar_picture" %> <%= @current_user.name.upcase %> <span class="caret"></a>
          <%end%>
          <ul class="dropdown-menu nav navbar-nav">
            <li> <a href="<%= edit_user_path(@current_user.id) %>">QUẢN LÝ THÔNG TIN CÁ NHÂN</a> </li>
            <%if @current_user.is_admin?%>
              <li><a href="<%= admin_users_path %>">QUẢN LÝ CÁC TÀI KHOẢN</a></li>
              <li> <a href="<%= admin_restaurants_path%>">QUẢN LÝ CÁC CỬA HÀNG</a> </li>
              <li> <a href="<%= admin_posts_path%>">QUẢN LÝ CÁC BÀI ĐĂNG </a> </li>
            <%else%>
              <li> <a href="<%= dashboard_restaurants_path%>">QUẢN LÝ CỬA HÀNG</a> </li>
              <li> <a href="<%= dashboard_posts_path%>">QUẢN LÝ BÀI ĐĂNG</a> </li>
              <li> <a href="<%= orders_pending_user_dashboard_orders_path%>">QUẢN LÝ ĐẶT HÀNG</a> </li>
            <%end%>
          </ul>
        </li>

        <li class="active"><a href="<%= logout_path %>">ĐĂNG XUẤT <span class="sr-only">(current)</span></a></li>
        <% else %>
        <li class="active"><a href="<%= login_path %>">ĐĂNG NHẬP<span class="sr-only">(current)</span></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
</div>
