<div class="container">
    <div class="col-md-12 row">
      <div class="margin_top_10 form-group col-md-6 row">
        <form class="navbar-form" role="search" action="/restaurants/find_restaurant" method="get">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Tên nhà hàng..." name="restaurant_name">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>  </button>
            </div>
        </div>
        </form>
      </div>
    </div>

  <h1 class="text-center text-danger margin_bottom_50 ">Danh sách các cửa hàng</h1>
  <%if @address%>
    <fieldtest>
      <form class="" action="<%= find_restaurant_by_address_restaurants_path %>" method="get" >
        <div class=" col-sm-8 col-sm-offset-2" style="margin-bottom:80px;">
          <div class="text-center col-md-3 col-sm-4">
            <select name="city" id="city_select" style="height:40px;width:170px"  >
              <option value="" >Thành phố</option>
              <% @cities.each do |city| %>
                <%if city.id == @city.id%>
                  <option value="<%= city.id %>" selected=""><%= city.name%></option>
                <%else%>
                  <option value="<%= city.id %>"><%= city.name%></option>
                <%end%>

              <%end%>
            </select>
          </div>

          <div class="col-md-3 col-sm-4 text-center ">
            <%if @district == 0%>
              <select name="district" id="district_select" style="height:40px;width:170px" >
                  <option value="">Quận( Huyện)</option>
                  <% @districts.each do |district|%>
                    <option class="render_ajax" value= "<%= district.id%>" > <%= district.name%> </option>
                  <%end%>
              </select>
            <%else%>
              <select name="district" id="district_select" style="height:40px;width:1700px" >
                  <option value="">Quận( Huyện)</option>
                  <% @districts.each do |district|%>
                    <%if district.id == @district.id%>
                      <option class="render_ajax" value="<%= district.id %>" selected><%= district.name%></option>
                    <%else%>
                      <option class="render_ajax" value= "<%= district.id%>" > <%= district.name%> </option>
                    <%end%>
                  <%end%>
              </select>
            <%end%>
          </div>

          <div class="col-md-3 col-sm-4 text-center ">
            <select name="arrange" id="district_select" style="height:40px;width:170px" >
                <option value="">Sắp xếp</option>
                <%if @arrange == "rating"%>
                  <option value="rating" selected>Đánh giá</option>
                <%else%>
                  <option value="rating">Đánh giá</option>
                <%end%>
                <%if @arrange == "created_at"%>
                  <option value="created_at" selected>Mới nhất</option>
                <%else%>
                  <option value="created_at">Mới nhất</option>
                <%end%>
            </select>
          </div>

          <div class="col-md-3 text-center  ">
            <button type="submit" class="search-big " name="button">  <i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </fieldtest>
  <%else%>
    <fieldtest>
      <form class="" action="<%= find_restaurant_by_address_restaurants_path %>" method="get" >
        <div class=" col-sm-8 col-sm-offset-2" style="margin-bottom:80px;">
          <div class="text-center col-md-3 col-sm-4">
            <select name="city" id="city_select" style="height:40px;width:170px"  >
              <option value="" >Thành phố</option>
              <% @cities.each do |city| %>
                <option value="<%= city.id %>"><%= city.name%></option>
              <%end%>
            </select>
          </div>

          <div class="col-md-3 col-sm-4 text-center ">
            <select name="district" id="district_select" style="height:40px;width:170px" >
                <option value="">Quận( Huyện)</option>
            </select>
          </div>

          <div class="col-md-3 col-sm-4 text-center ">
            <select name="arrange" id="district_select" style="height:40px;width:170px" >
                <option value="">Sắp xếp</option>
                <%if @arrange == "rating"%>
                  <option value="rating" selected>Đánh giá</option>
                <%else%>
                  <option value="rating">Đánh giá</option>
                <%end%>
                <%if @arrange == "created_at"%>
                  <option value="created_at" selected>Mới nhất</option>
                <%else%>
                  <option value="created_at">Mới nhất</option>
                <%end%>
            </select>
          </div>

          <div class="col-md-3 text-center  ">
            <button type="submit" class="search-big " name="button">  <i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </fieldtest>
  <%end%>

  <div class="box_restaurants">
    <% @restaurants.each do |restaurant|%>
      <div class="col-md-4 margin_bottom_50">
        <div class=" box_restaurant_index">
        <a href="<%=restaurant_path(restaurant)%>"><%= image_tag restaurant.image.url(:medium), class: "picture_center" %></a>
        <div  class="text-center big-star margin_top_10"><span class="star-rating" data-score="<%=restaurant.rating%>">  </span><i class="text-muted"> <%= restaurant.reviews.length %> đánh giá</i></div>
        <a href="<%=restaurant_path(restaurant)%>"><h3 class="text-center text-danger"><%=restaurant.name%></h3></a>
        <h4 class="text-center">Số điện thoại: <%=restaurant.phone%></h4>
        <h4 class="text-center">Địa chỉ: <%=restaurant.address%>, <%=restaurant.district.name%>, <%=restaurant.district.city.name%></h4>
        </div>
      </div>
    <%end%>
  </div>

   <div class="pagination pull-right">
     <%= will_paginate @restaurants , renderer: BootstrapPagination::Rails %>
   </div>

  </div>
