<h1 class="text-center text-danger margin_bottom_50 ">Danh sách các cửa hàng</h1>

  <div class="container">
    <% @restaurants.each do |restaurant|%>
    <div class="col-md-6 box_restaurant_index margin_bottom_50">

      <a href="<%=restaurant_path(restaurant)%>"><%= image_tag restaurant.image.url(:medium), class: "picture_center" %></a>
      <a href="<%=restaurant_path(restaurant)%>"><h3 class="text-center text-danger"><%=restaurant.name%></h3></a>
      <h4 class="text-center">Địa chỉ: <%=restaurant.address%>, <%=restaurant.district.name%>, <%=restaurant.district.city.name%></h4>

    </div>
   <%end%>
   <div class="pagination pull-right">
     <%= will_paginate @restaurants , renderer: BootstrapPagination::Rails %>
   </div>

  </div>
