<div class="rateit">
</div>


  <div class="container">
    <h1 class="text-center text-danger margin_bottom_50 "><%=@restaurant.name %></h1>
    <div class="col-md-6">
      <a href="<%= restaurant_reviews_path(@restaurant)%>" ><%= image_tag @restaurant.image.url(:medium), class: "picture_center" %></a>
      <div  class="text-center big-star margin_top_10"><span class="star-rating" data-score="<%=@avg_review%>">  </span><i class="text-muted"> <%= "#{@reviews.length} đánh giá"%></i></div>
      <h3 class="text-center">Số điện thoại: <%=@restaurant.phone%></h3>
      <h3 class="text-center">Địa chỉ: <%=@restaurant.address%>, <%=@restaurant.district.name%>, <%=@restaurant.district.city.name%></h3>
      <div class=" text-center"><a href="<%= restaurant_reviews_path(@restaurant)%>" class="btn btn-primary">Đánh giá </a></div>

    </div>
    <div class="col-md-6">
      <div id="map"></div>
    </div>

  </div>
  <div class="container">
    <!-- <div class="btn-group">
      <a class="btn btn-info" href="">Món ăn</a>
      <a href="<%=show_foods_drinks_restaurant_path(@restaurant)%>" class="btn btn-default">Thức uống</a>
    </div> -->
    <h2 class="text-primary text-center margin_bottom_20">Danh sách món ăn</n></h2>
    <!-- <% @foods.each do |food|%>
    <div class="col-md-6   box_foods_index">
      <%= image_tag food.image.url(:medium), class: "picture_center" %>
      <h3 class="text-center text-danger"><%=food.name%></h3>
      <h4 class="text-center">Giá: <%=food.price%></h4>
      <div class="text-center">
        <a href="" class="btn btn-warning">Thêm vào giỏ</a>
        <a href="" class="text-center btn btn-primary">Đặt hàng</a>
      </div>
    </div>
    <%end%>
    <div class="container col-md-12">
      <div class="pagination pull-right">
        <%= will_paginate @foods , renderer: BootstrapPagination::Rails %>
      </div>
    </div> -->

        <div class="col-md-9 box_foods">
          <% @foods.each do |food|%>
          <div class="col-md-4  ">
            <div class=" box_foods_index box_foods_index<%=food.id%>">
              <%= image_tag food.image.url(:big), class: "picture_list_foods" %>
              <h3 class="text-center text-primary"><%=food.name%></h3>
              <h4 class="text-center">Giá: <%=food.price%></h4>
              <div class="text-center btn-choose-food">
                <% if @current_user%>
                  <% check = false%>
                  <% session[:cart][@restaurant.id].each do |f|%>
                     <%if f["id"] == food.id
                        check = true
                     end%>
                  <%end%>
                  <%if check%>
                    <button class="btn btn-default cancel-food" data-restaurant="<%= food.restaurant.id%>" data-food="<%=food.id%>">Hủy chọn </button>
                  <%else%>
                    <button class="btn btn-danger choose-food " data-restaurant="<%= food.restaurant.id%>" data-food="<%=food.id%>">Thêm vào giỏ </button>
                  <%end%>
                <%else%>
                  <button class="btn btn-danger return-login " >Thêm vào giỏ </button>
                <%end%>
                <!-- <a href="" class="text-center btn btn-primary">Đặt hàng</a> -->
              </div>
            </div>
          </div>
          <%end%>
        </div>

        <div class="col-md-3 cart">

          <h3 class="text-center text-primary">Giỏ hàng</h3>
          <div class=" foods-of-order row">
            <%session[:cart][@restaurant.id].each do |f|%>
            <div class="row">
            <div class="food_of_order food<%=f["id"]%> col-md-12">
              <div class="col-md-4">
                <p><%=f["name"]%></p>
              </div>
              <div class="col-md-4 change-quantity ">
                <p><span data-restaurant="<%=@restaurant.id%>" data-food="<%= f["id"]%>"class="icon-plus glyphicon glyphicon-plus txt-green"></span> <span class="text-strong quantiy "><%=f["quantity"]%></span> <span data-restaurant="<%=@restaurant.id%> " data-food="<%=f["id"]%>" class="icon-minus glyphicon glyphicon-minus"></span></p>
              </div>
              <div class="col-md-4 ">
                <p><%=f["price"]%></p>
              </div>
            </div>
            </div>
            <%end%>
          </div>
          <div class=" row">
            <div class="col-md-6"><p>Phí vận chuyển</p></div>
            <div class="col-md-2 "></div>
            <div class="col-md-4 "><p>10000</p> </div>
          </div>
          <div class="row">
          <div class="col-md-6"><p>Tổng tiền</p></div>
          <div class="col-md-2 "></div>
          <div class="col-md-4 "><p id="total"><%=@total%></p></div>
          </div>
          <% if @current_user%>
            <a href="<%= new_cart_restaurant_path(@restaurant)%>" data-method = "get"class="col-md-12 btn btn-danger margin_bottom_10 enter_cart">Đặt hàng</a>
            <!-- <a href="<%= new_cart_restaurant_path(@restaurant)%>" data-method = "get"class="col-md-12 btn btn-primary">Quản lý đặt hàng</a> -->
          <%else%>
            <button class="btn btn-danger return-login col-md-12 margin_bottom_10" >Đặt hàng </button>
            <!-- <button class="btn btn-primary return-login col-md-12" >Quản lý đặt hàng </button> -->
          <%end%>
        </div>

        <div class="container col-md-12">
          <div class="pagination pull-right">
            <%= will_paginate @foods , renderer: BootstrapPagination::Rails %>
          </div>
        </div>
      </div>




     <script type="text/javascript">
       function initMap() {
         var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        // center: {lat: 16.0744633, lng: 108.1518328 }
         });
         var geocoder = new google.maps.Geocoder();
         geocodeAddress(geocoder, map);
       }
         function geocodeAddress(geocoder, resultsMap) {
           var address = "<%= @restaurant.address %>, <%= @restaurant.district.name %>, <%=@restaurant.district.city.name%>";
           geocoder.geocode({'address': address}, function(results, status) {
             if (status === 'OK') {
               resultsMap.setCenter(results[0].geometry.location);
               var marker = new google.maps.Marker({
                 map: resultsMap,
                 position: results[0].geometry.location
               });
             }
            //   else {
            //    alert('Geocode was not successful for the following reason: ' + status);
            //  }
           });
         }
     </script>
     <script async defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALTmC--e7ho0gW9wMgqeK2NaXybqVRch4&callback=initMap">
     </script>
