
<div class="container">
  <div class="col-md-8 col-sm-offset-2 background_content">
    <div class="post-item ">
    <% if @current_user %>
      <%if @current_user.id == @post.user_id%>
        <div class="dropdown option">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="glyphicon glyphicon-pencil "></i>
           <!-- glyphicon glyphicon-th-list -->
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <!-- <li><a class="dropdown-item" href="#">Xem</a></li> -->
          <li><a class="dropdown-item" href="<%= edit_post_path(@post)%>">Sửa</a></li>
          <li><a class="dropdown-item " href="<%= post_path(@post)%> "data-method="delete" data-confirm="Bạn chắc chắn muốn xóa?">Xóa</a></li>
          </div>
        </div>
      <%end%>
    <%end%>
      <h3 class="text-danger"> <%= image_tag @post.user.avatar.url(:big), class: " avatar_post" %> <span class="text-primary text-strong"><%= @post.user.name%>:</span> <%= @post.title %></h3>
    <div class="margin_bottom_10">
      <%= @post.content %>
    </div>

    <div class="">
      <%if @current_user%>
        <%like = @post.likes.where(user_id: @current_user.id).first%>
        <!-- <button data-target="<%= like_api_v1_post_path(@post.id) %>"  data-method ="post" class="btn btn-primary post-like "><%= like.try(:isLike) ? "Không thích" : "Thích"%></button> -->
        <%if like.try(:isLike)%>
          <button data-target="<%= like_api_v1_post_path(@post.id) %>"  data-method ="post" class="btn btn-primary post-like"><i class="glyphicon glyphicon-heart"></i> Thích</button>
        <%else%>
          <button data-target="<%= like_api_v1_post_path(@post.id) %>"  data-method ="post" class="btn btn-default post-like"><i class="glyphicon glyphicon-heart"></i> Thích</button>
        <%end%>
      <%else%>
        <button class="btn btn-primary return-login"><i class="glyphicon glyphicon glyphicon-heart"> </i>  Thích</button>
      <%end%>
    </div>
    <p class="view-like text-primary">
      <%= @post.likes.where(isLike: true).count %> người thích nội dung này
    </p>

    <div class="row">
      <div class="col-md-6 form-comment ">
        <!-- remote để send bằng ajax not submit -->
        <%if @current_user %> <%= image_tag @current_user.avatar.url(:avatar), class: " avatar_picture" %> <%end%>
        <%= form_for([:api, :v1, Comment.new], remote: true)  do |f| %>
          <fieldtest>
          <%= f.text_area :content , class: "form-control  " , required: "required", placeholder: "Viết bình luận..."%>
          <%= f.hidden_field :post_id, as: :hidden, value: @post.id %>
          <%= f.hidden_field :current_user, as: :hidden, value: @current_user %>
          <!-- <%if @current_user%>
            <button type="button"  class="btn btn-primary post-comment" >Bình luận</button>
          <%else%>
            <button type="button"  class="btn btn-primary return-login" >Bình luận</button>
          <%end%> -->
          </fieldtest>
        <% end %>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-comment list-unstyled ">
          <% @post.comments.each do |comment| %>
          <div class="comment-item row ">
            <li class="box-comment  col-md-12 margin_top_20 row">
                <div class="col-md-9">
                  <span class="text-primary text-strong"> <%= image_tag comment.user.avatar.url(:avatar), class: " avatar_picture" %> <%= comment.user.name %>:</span> <%= comment.content %>
                  <div class=" col-md-12  box-replies">
                    <a class="reply-comment" data-target="<%=comment.id%>" >Hiện <span class="count-replies"> <%= reply = Comment.where(comment_id: comment.id).count%> </span>trả lời</a>
                    <div class="replies"></div>
                  </div>
                </div>
                <div class="col-md-3">
                <% if @current_user%>
                  <%if @current_user.id == comment.user.id%>
                    <span data-target="<%= comment.id %>" class="text-danger delete-comment"  >x</span>
                  <%end%>
                <%end%>
                </div>
            </li>
          </div>
          <% end%>
        </ul>
      </div>
    </div>


    </div>
  </div>
</div>
