
  <div class="container">

    <div class="btn-group">
      <a class="btn btn-default" href="<%=dashboard_restaurants_path%>">Quản lý cửa hàng</a>
      <a class="btn btn-info" href="">Quản lý món ăn</a>
      <a href="<%=dashboard_restaurant_staffs_path%>" class="btn btn-default">Quản lý nhân viên</a>
      <a href="#" class="btn btn-default">Quản lý đặt hàng</a>
    </div>
    <h1 class="text-center text-danger margin_bottom_50 ">Danh sách thực đơn <%=@restaurant.name %></h1>
    <div class="col-md-12 margin_bottom_10">  <a href="<%=new_dashboard_restaurant_food_path%>" class="btn btn-primary">Thêm món ăn</a></div>


    <div class="col-md-6">

    <table class="table table-hover table-bordered" >
      <tr style="background: pink">
        <th>STT</th>
        <th>Tên đồ ăn</th>
        <th>Giá</th>
        <th>Ảnh</th>
        <th>Chức năng</th>
      </tr>
      <% @foods_eat.each_with_index do |food,index| %>
      <tr class="box-foods">
        <td><%= index + 1 + (@page-1)*3  %></td>
        <td><%= food.name %></td>
        <td><%= food.price %></td>
        <td> <%= image_tag food.image.url(:small), class: "picture_center picture_small" %></td>
        <td>
          <a href="<%= edit_dashboard_restaurant_food_path(food.restaurant.id, food.id ) %>" class="btn btn-warning">Sửa</a>
          <a href ="<%= dashboard_restaurant_food_path(food.restaurant.id, food.id) %>" data-method="delete"  class="btn btn-danger delete-food" data-confirm="Bạn chắc chắn muốn xóa?">Xóa</a>
        </td>
      </tr>

      <% end %>
    </table>

    </div>

    <div class="col-md-6">
      <table class="table table-hover table-bordered" >
        <tr style="background: pink">
          <th>STT</th>
          <th>Tên đồ uống</th>
          <th>Giá</th>
          <th>Ảnh</th>
          <th>Chức năng</th>
        </tr>
        <% @foods_drink.each_with_index do |food,index| %>
        <tr class="box-foods ">
          <td><%= index + 1 + (@page-1)*3  %></td>
          <td><%= food.name %></td>
          <td><%= food.price %></td>
          <td> <%= image_tag food.image.url(:small), class: "picture_center picture_small" %></td>
          <td>
            <a href="<%= edit_dashboard_restaurant_food_path(food.restaurant.id, food.id) %>"  class="btn btn-warning">Sửa</a>
            <a href ="<%= dashboard_restaurant_food_path(food.restaurant.id, food.id) %>" data-method="delete" data-target="<%= food.id %>" class="btn btn-danger delete-food" data-confirm="Bạn chắc chắn muốn xóa?">Xóa</a>
          </td>
        </tr>

        <% end %>
      </table>

    </div>
    <div class="col-md-12">

      <div class="pagination pull-right">
        <%= will_paginate @foods_page , renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
