

<% if @user.errors.any? %>
  <div class="col-md-12 alert alert-danger">
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message%></li>
    <%end%>
  </div>
<% end %>

<div class="container">
  <h1 class="text-center">Đăng ký</h1>
  <fieldtest>
  <%= form_for :user, url: admin_users_path do |f| %>
    <div class="col-md-5 col-sm-offset-1">
      <div class="form-group">
        <label for="exampleInputName">Email</label>
        <%= f.email_field :email, class: "form-control", placeholder: "Email", required: "required" %>
      </div>
      <div class="form-group">
        <label for="exampleInputName">Mật khẩu</label>
        <%= f.password_field :password, class: "form-control", placeholder: "Mật khẩu", required: "required",  minlength: "6"%>
      </div>
      <div class="form-group">
        <label for="exampleInputName">Nhập lại mật khẩu</label>
        <%= password_field_tag :password_confirmation,"", name: "user[password_confirmation]", class: "form-control", placeholder: "Nhập lại mật khẩu" , required: "required", minlength: "6"%>
      </div>
      <div class="form-group">
        <label for="exampleInputName">Tên</label>
        <%= f.text_field :name, class: "form-control", placeholder: "Tên" , required: "required"%>
      </div>
      <div class="form-group">
        <label for="exampleInputName">Số điện thoại</label>
        <%= f.text_field :phone, class: "form-control", placeholder: "Số điện thoại", required: "required" %>
      </div>
  </div>
  <div class="col-md-5 col-sm-offset-1">
      <div class="form-group city">
        <label for="" >City</label>
        <select name="cities" class="form-control " id="city_select" >
              <option value=""></option>
          <% @cities.each do |city| %>
            <option value="<%= city.id %>"><%= city.name%></option>
          <%end%>
        </select>
      </div>
      <div class="form-group">
        <label for="">District</label>
        <select name="user[district_id]" id="district_select" class="form-control"></select>
      </div>
      <div class="form-group">
        <label for="exampleInputName">Địa chỉ</label>
        <%= f.text_field :address, class: "form-control", placeholder: "Địa chỉ", required: "required"%>
      </div>

      <div class="form-group">
        <label for="example-date-input" class="col-2 col-form-label">Ngày sinh</label>
        <%= f.text_field :birthday, class: "form-control datepicker", placeholder: "Ngày sinh", required: "required"%>
      </div>
      <div class="form-group">
        <label for="exampleInputName">Giới tính:</label>
        <%= f.radio_button :gender, '1', :checked => true %> Nam
        <%= f.radio_button :gender, '0' %> Nữ
      </div>
      <div class="text-center"><button type="submit" class="btn btn-primary text-center" name="button">Đăng ký</button></div>
    </div>
      <%end%>
      </fieldtest>
  </div>
