<!DOCTYPE html>
<html>
  <head>
    <title>Website Ẩm thực</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render "partils/header" %>
      <%= yield %>

      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700" rel="stylesheet">

    <script language="javascript" type="text/javascript"  > var current_user = '<%= @current_user ? @current_user.id : "" %>'</script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if current_page?(posts_path) %>
      <% if flash[:error] %>
        <%= alertify_flash %>
      </div>
      <% end %>
    <%else%>
      <% if flash[:error] %>
          <%= alertify_flash %>
      </div>
      <% end %>
    <%end%>

    <% if current_page?(posts_path) %>
      <% if flash[:success] %>
        <%= alertify_flash %>
      <% end %>

    <%else%>
      <% if flash[:success] %>
        <%= alertify_flash %>
      <% end %>
    <% end %>
  </body>

</html>
